* {
    box-sizing: border-box; /* Включить в расчет размеров padding и border */
    margin: 0;
    padding: 0;
  
  }

.render3d{
    position: relative;
}

.menu{
    position: absolute;
    top: 80px;
    
    right: 5%;
    width: 200px;
    height: 300px;
   
   

}

.kitchenType{
    margin-top: 20px;
}

.kitchenDirectBlocks{
    margin-top: 20px;
    display: none;
}

.kitchenAngleBlocks{
    margin-top: 20px;
    display: none;
}
